@model SellerDetailsDtoViewModel
@{
    ViewData["Title"] = "Details";
}


<div class="row mt-5">
    <div class="col-md-5 m-5">
        <h1 >Property Details</h1>
        <ul class="list-group mb-2">
            <li class="list-group-item"> <b>Property Name :</b> @Model.HouseDetails.PropertyName</li>
            <li class="list-group-item"> <b>Property Type :</b>@Model.HouseDetails.PropertyType </li>
            <li class="list-group-item"> <b>Price Range :</b> @Model.HouseDetails.PriceRange</li>
            <li class="list-group-item"> <b>City Name:</b> @Model.HouseDetails.CityName</li>
            <li class="list-group-item"> <b>Status :</b> @Model.HouseDetails.Status</li>

            <li class="list-group-item"> <b>Uploaded Date :</b> @Model.HouseDetails.UploadDate.ToShortDateString() </li>

        </ul>

       <div>


            <form method="post" asp-controller="Admin" asp-action="ApproveHouse" asp-route-id="@Model.HouseDetails.Id">
                <button type="button" class="btn btn-outline-success" onclick="toggleReason()">Approve</button>
                <div id="reason" style="display: none;">
                    <div class="form-group">
                        <label for="reasonText">Reason for approval:</label>
                        <input type="text" name="reason" id="reasonText" class="form-control" />
                    </div>
                    <button type="submit" class="btn btn-outline-success">Submit</button>
                </div>
            </form>

            <form method="post" asp-controller="Admin" asp-action="RejectHouse" asp-route-id="@Model.HouseDetails.Id">
                <button type="button" class="btn btn-outline-danger" onclick="toggleReason()">Reject</button>
                <div id="reason" style="display: none;">
                    <div class="form-group">
                        <label for="reasonText">Reason for rejection:</label>
                        <input type="text" name="reason" id="reasonText" class="form-control" />
                    </div>
                    <button type="submit" class="btn btn-outline-danger">Submit</button>
                </div>
            </form>

           
        </div>


        <a asp-controller="Admin" method="get" asp-action="Index">Back to List</a>
    </div>
    <div class="col-md-5">
        <h1 class="m-5">Seller Details</h1>
        <ul>
            <li class="list-group-item"> <b>Full Name :</b> @Model.SellerDetails.FullName</li>
            <li class="list-group-item"> <b>Email :</b> @Model.SellerDetails.Email</li>
            <li class="list-group-item"> <b>Phone :</b> @Model.SellerDetails.PhoneNumber</li>

        </ul>

    </div>
</div>

<script>
    function toggleReason() {
        var reasonDiv = event.target.parentElement.querySelector('#reason');
        reasonDiv.style.display = reasonDiv.style.display === 'none' ? 'block' : 'none';
    }
</script>