@model SellerDetailsDtoViewModel
@{
    ViewData["Title"] = "Details";
}


<div class="row mt-5">
    <div class="col-md-5">
        <h1 class="m-5">Property Details</h1>
        <ul class="list-group mb-2">
            <li class="list-group-item"> <b>Property Name :</b> @Model.HouseDetails.PropertyName</li>
            <li class="list-group-item"> <b>Property Type :</b>@Model.HouseDetails.PropertyType </li>
            <li class="list-group-item"> <b>Price Range :</b> @Model.HouseDetails.PriceRange</li>
            <li class="list-group-item"> <b>City Name:</b> @Model.HouseDetails.CityName</li>
            <li class="list-group-item"> <b>Status :</b> @Model.HouseDetails.Status</li>

            <li class="list-group-item"> <b>Uploaded Date :</b> @Model.HouseDetails.UploadDate.ToShortDateString() </li>

        </ul>

       
        <div class="btn-group" role="group" aria-label="Basic outlined example m-2">
            <form method="get" asp-controller="Admin" asp-action="ApproveHouse" asp-route-id="@Model.HouseDetails.Id">
                <button type="submit" class="btn btn-outline-success">Approve</button>
            </form>
            <form method="get" asp-controller="Admin" asp-action="RejectHouse" asp-route-id="@Model.HouseDetails.Id">
                <button type="submit" class="btn btn-outline-danger">Reject</button>
            </form>
          @*  <div class="form-group">
                <label asp-for="Remarks">Remarks</label>
                <input type="text" asp-for="Remarks" placeholder="Please write Remarks" class="form-control" />
                <span asp-validation-for="Remarks" class="text-bg-danger"></span>

            </div>*@
        </div>


        <a asp-controller="Admin" method="get" asp-action="Index">Back to List</a>
    </div>
    <div class="col-md-5">
        <h1 class="m-5">Seller Details</h1>
        <ul>
            <li class="list-group-item"> <b>Full Name :</b> @Model.SellerDetails.FullName</li>
            <li class="list-group-item"> <b>Email :</b> @Model.SellerDetails.Email</li>
            <li class="list-group-item"> <b>Phone :</b> @Model.SellerDetails.PhoneNumber</li>

        </ul>

    </div>
</div>