@model PropertyViewModel
@{
    ViewData["Title"] = "Cart";
    var flag = true;
}

<h1>hello</h1>
<h6>-</h6>
<h1></h1>
<div style="background-color:#002b36">

    <!-- filer option rectangle -->
    <div class="row mt-1">
        <div class="col-2">
            <a asp-action="Index" asp-controller="Buyers" class="btn btn-warning">Back</a>
        </div>
        <div class="big vertical col-3 offset-2">
            @if (Model.HouseViewModels.Count > 0)
            {

                foreach (var house in Model.HouseViewModels)
                {
                    foreach (var buyercart in Model.buyerCartModels)
                    {
                        if (house.Id == buyercart.HouseId)
                        {


                            foreach (var images in Model.HouseImages)
                            {
                                if (images.HouseId == house.Id)
                                {


                                    <div class="big vertical col-9">

                                        <!-- box1 -->

                                        <div class="iy card border-secondary mb-3">
                                            <!-- ye box 1 hai -->
                                            <div class="row">

                                                <div class=" vertical col-8">

                                                    <img class="img" src="@images.ImageUrl" alt="Image supposed to be here">

                                                </div>

                                                <div class="col-4">

                                                    <div class="rest-name text-muted">@house.PropertyName</div>

                                                    <div class="rest-location" style="color:whitesmoke">@house.CityId</div>

                                                    <div class="Bakery" style="color:whitesmoke">@house.PropertyType</div>

                                                    <div class="Bakery" style="color:whitesmoke">Rate: &#8377 @house.InitialDeposit</div>

                                                </div>

                                                <form asp-action="DeleteFromCart" asp-controller="Buyers" asp-route-id="@house.Id" method="post">

                                                    <div>

                                                        <div class="abc">

                                                            <a asp-action="Details" asp-controller="Buyers" asp-route-id="@house.Id" class="button3 btn-dark"><span>Details</span></a>
                                                        </div>
                                                        <input type="submit" class="btn btn-warning" value="Remove">
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    break;
                                }

                            }
                        }
                    }
                }
            }
            @if (Model.HouseViewModels.Count <= 0)
            {
                <div class="row mt-5" style="text-align:center">
                    <h1>Your Cart Is Empty</h1>
                </div>
            }



        </div>
    </div>
</div>




