@model PropertyViewModel
@{
    ViewData["Title"] = "Index";
}


<h1 class="mt-4" style="color:#002b36">WHITE SPACES</h1>
<div class="row">
    <form asp-controller="Buyers" asp-action="Index" method="get">
        <div class="row">
            <div class="col-3 form-group mt-4">
                <select asp-for="SelectedValue" asp-items="Model.Values" class="form-select dropdown" onchange="this.form.submit()" ;font-weight:bold"></select>
            </div>
            <div class="form-group">
            </div>
        </div>

    </form>


    <div class="row">
        <div class="col">
            <h2 class="card-header-pills mt-5">List of All Properties</h2>
        </div>

    </div>
    <div class="row">
        <form asp-action="Cart" asp-controller="Buyers" method="get">
            <button type="submit" class="btn btn-outline-light btn-block mb-4">
                View your cart
            </button>
        </form>

    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Property Type</th>


                <th>Property Name</th>
                <th>Price Range</th>
                <th>Seller Details</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>

            @if (Model.HouseViewModels.Count > 0)
            {



                foreach (var house in Model.HouseViewModels)
                {
                    foreach (var images in Model.HouseImages)
                    {
                        if (images.HouseId == house.Id)
                        {
                            <tr>
                                <td>
                                    <img src="@images.ImageUrl" class="img-thumbnail"/>
                                </td>
                                <td>@house.PropertyType</td>
                                <td>@house.PropertyName</td>
                                <td>@house.PriceRange</td>
                                <td>@house.UserDetailsId</td>


                                <td>
                                    <a asp-controller="Buyers" asp-action="Details" asp-route-id="@house.Id">Details</a> |

                                </td>
                                <td>
                                    <form asp-action="AddToCart" asp-route-id="@house.Id" asp-controller="Buyers" method="post">
                                        <button type="submit" class="btn btn-outline-light btn-block mb-4">
                                            Add to cart
                                        </button>
                                    </form>
                                </td>

                            </tr>
                        }
                    }

                }

            }
        </tbody>
    </table>

</div>


@if (Model.HouseViewModels.Count <= 0)
{
    <div class="row">
        <h3>Sorry! No Available Properties.</h3>
    </div>
}
