@model PropertyViewModel
@{
    ViewData["Title"] = "Index";
    var flag = true;
}


@*<h1 class="mt-4" style="color:#002b36">WHITE SPACES</h1>
<div class="row">
    <form asp-controller="Buyers" asp-action="Index" method="get">
        <div class="row">
            <div class="col-3 form-group mt-4">
                <select asp-for="SelectedValue" asp-items="Model.Values" class="form-select dropdown" onchange="this.form.submit()" ;font-weight:bold"></select>
            </div>
            <div class="form-group">
            </div>
        </div>

    </form>


    <div class="row">
        <div class="col">
            <h2 class="card-header-pills mt-5">List of All Properties</h2>
        </div>

    </div>
    <div class="row">
        <form asp-action="Cart" asp-controller="Buyers" method="get">
            <button type="submit" class="btn btn-outline-light btn-block mb-4">
                View your cart
            </button>
        </form>

    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Property Type</th>


                <th>Property Name</th>
                <th>Price Range</th>
                <th>Seller Details</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>

            @if (Model.HouseViewModels.Count > 0)
            {

                foreach (var house in Model.HouseViewModels)
                {
                    foreach (var images in Model.HouseImages)
                    {
                        if (images.HouseId == house.Id)
                        {
                            <tr>
                                <td>
                                    <img src="@images.ImageUrl" class="img-thumbnail" />
                                </td>
                                <td>@house.PropertyType</td>
                                <td>@house.PropertyName</td>
                                <td>@house.PriceRange</td>
                                <td>@house.UserDetailsId</td>


                                <td>
                                    <a asp-controller="Buyers" asp-action="Details" asp-route-id="@house.Id">Details</a> |

                                </td>
                                <td>
                                    <form asp-action="AddToCart" asp-route-id="@house.Id" asp-controller="Buyers" method="post">
                                        <button type="submit" class="btn btn-outline-light btn-block mb-4">
                                            Add to cart
                                        </button>
                                    </form>
                                </td>

                            </tr>
                            break;
                        }

                    }

                }

            }
        </tbody>
    </table>

</div>*@
<h1>hello</h1>
<h1></h1>
<h1></h1>
<div style="background-color:#002b36">

    <!-- filer option rectangle -->
    <div class="row">



        <div class="small col-3">

            <div class="filter-options position-fixed" style="background-color:transparent">

                <div class="filter-heading" style="color:whitesmoke">Filters</div>

                <form asp-controller="Buyers" asp-action="Index" method="get">

                    <div class="Select-Location" style="color:whitesmoke">Property Type</div>

                    <select asp-for="SelectedValue" asp-items="Model.Values" class="Rectangle-2236" style="color:whitesmoke" onchange="this.form.submit()"></select>
                </form>


            </div>

        </div>
        <div class="big vertical col-9">
            @if (Model.HouseViewModels.Count > 0)
            {

                foreach (var house in Model.HouseViewModels)
                {
                    foreach (var images in Model.HouseImages)
                    {
                        if (images.HouseId == house.Id)
                        {
                            flag = false;

                            <div class="big vertical col-9">

                                <!-- box1 -->

                                <div class="iy card border-secondary mb-3">
                                    <!-- ye box 1 hai -->
                                    <div class="row">

                                        <div class=" vertical col-8">

                                            <img class="img" src="@images.ImageUrl" alt="Image supposed to be here">

                                        </div>

                                        <div class="col-4">

                                            <div class="rest-name text-muted">@house.PropertyName</div>

                                            <div class="rest-location" style="color:whitesmoke">@house.PropertyOption</div>

                                            <div class="Bakery" style="color:whitesmoke">@house.PropertyType</div>

                                            <div class="Bakery" style="color:whitesmoke">Rate: &#8377 @house.InitialDeposit</div>

                                        </div>


                                        <div>
                                            <form asp-action="AddToCart" asp-route-id="@house.Id" asp-controller="Buyers" method="post">

                                                <div class="abc">

                                                    <a asp-action="Details" asp-controller="Buyers" asp-route-id="@house.Id" class="button3 btn-dark"><span>Details</span></a>

                                                    <button type="submit" class="button3 btn-primary">
                                                        Add to cart
                                                    </button>
                                                </div>
                                            </form>




                                        </div>


                                    </div>
                                </div>
                            </div>
                            break;
                        }

                    }
                }
            }
            @if (flag)
            {
                <div class="row mt-5">
                    <h3>Sorry! No Available Properties.</h3>
                </div>
            }



        </div>
    </div>
</div>



