@model SellerHouseDetailsViewModel
@{
    ViewData["Title"] = "Details";
}
<h1 class="mt-3 text-light">white space</h1>
<h1 class="text-center mt-4">Details</h1>


<div class="row">
    <div class="col-md-5">
        <ul class="list-group">
            <li class="list-group-item"><b>Property type :</b>@Model.PropertyType</li>
            <li class="list-group-item"><b>Production name :</b>@Model.PropertyName</li>
            <li class="list-group-item"><b>Property Option :</b>@Model.PropertyOption</li>
            <li class="list-group-item"><b>Address :</b>@Model.Address</li>
            <li class="list-group-item"><b>City :</b>@Model.CityId</li>
            <li class="list-group-item"><b>City Name :</b>@Model.CityName</li>
            <li class="list-group-item"><b>Region:</b>@Model.Region</li>
            <li class="list-group-item"><b>Landmark :</b>@Model.Landmark</li>
            <li class="list-group-item"><b>Initial Deposit :</b>@Model.InitialDeposit</li>
            <li class="list-group-item"><b>Price Range :</b>@Model.PriceRange</li>
            <li class="list-group-item"><b>Upload Date :</b>@Model.UploadDate.ToShortDateString()</li>
        </ul>
        <a asp-controller="House" asp-action="Index">Back to List</a>
    </div>
    <div class=" col-md-3">
        <div class=" row text-start">
            <p1>Sellers Add images for their properties to reach more customer. As Per our research customers are more impressed with images. If You want to grow your insight please add Images</p1>
            <a asp-controller="HouseImage" asp-action="Create" class="mb-3 btn btn-dark">Add Images</a>
            <form asp-controller="HouseImage" asp-action="Index" asp-route-houseId="@Model.HouseId" method="get">
                <button class="btn btn-danger" type="submit">View Images</button>
            </form>
            @*                <a asp-controller="HouseImage" asp-route-houseid="@Model.Id" asp-action="Index" class="btn btn-dark">View Images</a>
            *@
        </div>
    </div>


</div>