@model List<SellerHouseDetailsViewModel>
@{
    ViewData["Title"] = "Index";
    var flag = true;
}


<div class="row m-5"></div>
<div class="row mt-5">
   <div class="col-2"></div>

    <div class="col-md-8 mt-4">
        <a asp-controller="Home"  asp-action="Index" class="text-start btn btn-warning">Go to HomePage</a>

        <div class="row">
            <div class="col"> <div class="col text-end">
    </div>
                <h3 class="mt-4">Your Properties List</h3>
            </div>
            <div class="col text-end">
                <a asp-controller="House" asp-action="Create" class="btn btn-dark">Add new Property</a>
            </div>
        </div>
        <div class="row">
            <table class="table table-hover shadow">
                <thead>
                    <tr>
                        <th>Property Name</th>
                        <th>Property type</th>
                        <th>Status</th>
                        <th>Remarks</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count <= 0)
                    {
                        flag = false;
                    }
                    @foreach (var item in Model)
                    {
                       
                       
                        <tr>
                                <td>@item.PropertyName</td>
                                <td>@item.PropertyType</td>
                                <td>@item.Status</td>
                                <td>@item.Remarks</td>
                                <td>
                                    <a asp-controller="House" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                    <a asp-controller="House" asp-action="Edit" asp-route-id="@item.Id">Customize</a> |
                                    <a asp-controller="House" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                </td>

                            </tr>
                        
                    }
                </tbody>
            </table>
            @if (!flag)
            {
                <h3>NO Records Found!</h3>
            }
        </div>
    </div>
   
</div>

